body{
	margin: 0;
	padding: 0;
    background-image:url("images/wooden-background.jpg");

}
header{
	font-family: fantasy;
	position: absolute;
	text-align: center;
	font-size: 30px;
	color:black;
	font-weight: bold;
}
h1{
	margin: 30px;
	font-family: fantasy;
	position: relative;
	text-align: center;
	font-size: 25px;
	color:black;
	font-weight: bold;


}
p{
	margin: 50px;
	font-family: Verdana;
	position: relative;
	text-align: center;
	font-size: 20px;
	color:back;
	font-weight: normal;
}

td{
	margin: 30px;
	font-family: fantasy;
	position: relative;
	text-align: center;
	font-size: 20px;
	color:back;
	font-weight: bold;
}

.p{

}